body {
  font-family: sans-serif;
  padding: 10px;
}

.container {
  max-width: 300px;
}

#battle-log {
  max-height: 100px;
  min-height: 100px;
  overflow-y: auto;
  padding: 5px;
  margin-bottom: 10px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#upgrade-cost {
  font-weight: normal;
  font-size: 0.9em;
  color: #888;
  margin-left: 0.5em;
}